body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    border: 1px solid saddlebrown;
    width: 960px; /*Ocupa 85% da tela - ou do componente superior*/
    margin: 0 auto; /*auto nas laterais -> centraliza o conteúdo*/
    background: #fff url(../imagens/coluna.png) repeat-y left top;
    min-width: 720px; /*tamanho de alrgura mínimo que o componente pode ter*/
    max-width: 1000px; /*tamanho máximo de largura que o componente pode ter
    min-height: ; tamanho de altura mínimo que o componente pode ter
    max-height: ; tamanho de alturamínimo que o componente pode ter*/
}

#marca {
    width: 100%;
    height: 200px;
    background: #225292 url(../imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

img.img-noticia {
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

#conteudo {
    width: 73%;
    float: right;
}

#conteudo-principal {
    width: 62%;
    float: left;
}

#conteudo-secundario {
    background: #d1d1d1;
    width: 35%;
    float: right;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding: 0 20px;
}

#navegacao {
    width: 25%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}